{{#partial "title"}}
    Update Site Details
{{/partial}}

{{#partial "content"}}
    <div class="row">
        <div class="col-md-6 col-lg-6 col-sm-12 card">
            <h4>Update Site</h4>
            <hr>
            <form method="post" action="/sites/{{site.id}}">
                <div class="row">
                    <div class="col-md-12 col-lg-12 col-sm-12">
                        <div class="form-group">
                            <label>Site Name</label>
                            <input class="form-control" type="text" placeholder="Site Name"
                                   name="name" value="{{site.name}}" required>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-lg-12 col-sm-12">
                        <div class="form-group">
                            <label>Site Town</label>
                            <input class="form-control" type="text" placeholder="Site Town Name"
                                   name="town" value="{{site.town}}" required>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-lg-12 col-sm-12">
                        <div class="form-group">
                            <input class="btn btn-success" type="submit" value="Update Site">
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
{{/partial}}

{{> layout.hbs}}